{% extends 'base.html.twig' %}

{% block body %}
    <div id="content" class="container">
        <h2 class="sub-header text-center">{{ deals|length }} {{ types[filter] }} Deals from Dell</h2>

        {{ include(':default:types.html.twig') }}

        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Price</th>
                    <th class="text-center">Item</th>
                    <th class="text-center">Promo</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
            {% for deal in deals %}
                <tr {% if deal.isHighlight %}class="success"{% endif %}>
                    <td class="text-right"><s class="strike">{{ deal.marketPrice }}</s> <br> {{ deal.price }}</td>
                    <td class="text-center"><a href="{{ deal.link }}" target="_blank">{{ deal.title }}</a></td>
                    <td class="text-center">{{ deal.promo }}</td>
                    <td class="text-right"><img src="{{ deal.img }}" style="max-height: 150px;"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block subStyles %}
<style>
    .strike {
        font-size: 85%;
        color: #444;
    }
</style>
{% endblock %}

{% block subJavascripts %}
    <script>
        $(function() {
            $("#loadingSpinner").hide();

            $('.typeSelect').on('click', function() {
                $("#loadingSpinner").show();
            });

        });
    </script>
{% endblock %}