<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ types[filter] }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for type,name in types %}
            <li><a href="{{ path('homepage', {'filter': type}) }}" class="typeSelect">{{ name }}</a> </li>
        {% endfor %}
    </ul>
    <i id="loadingSpinner" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>